body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}
:root {
  --section-color: #2f303a;
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  background-color: #ffffff;
  --color-text-header: #212121;
  --color-text-contact: #757575;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-head {
  color: #000000;
}
.header-nav {
  margin-left: 93px;
}
.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
}
.header-nav-list :hover,
.header-nav-list :focus {
  color: #2196f3;
}
.header-nav-list :not(:last-child) {
  margin-right: 50px;
}
.header-nav-list-st {
  color: var(--color-text-header);
}
.header-nav-list-port {
  color: var(--color-text-header);
}
.header-nav-list-cont {
  color: var(--color-text-header);
}

.header-contaсt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contaсt :hover,
.header-contaсt :focus {
  color: #2196f3;
  fill: #2196f3;
}
.header-contaсt-mail {
  color: var(--color-text-contact);
  margin-right: 30px;
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
}
.header-contaсt-tel {
  color: var(--color-text-contact);
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
}
.header-contaсt-mail-icon {
  margin-right: 10px;
}
.header-contaсt-tel-icon {
  margin-right: 10px;
}
.main-section-header {
  background: var(--section-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/header_fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section-header-motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.main-section-header-button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}
.main-section-header-button:hover,
.main-section-header-button:focus {
  background: #2196f3;
}
.soft-skils-about {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.soft-skils {
  display: flex;
}
.soft-skils-list:not(:last-child) {
  margin-right: 30px;
}
.soft-skils-list {
  width: 270px;
}
.soft-skils-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.soft-skils-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.soft-skils-cont {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soft-skils-icon {
  margin: 0 auto;
}
.hard-skil {
  padding-bottom: 94px;
}
.hard-skils {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.hard-skils-photo {
  display: flex;
  justify-content: space-between;
}
.hard-skils-list:not(:last-child) {
  margin-right: 30px;
}
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.our-team-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 15px;
}
.our-team-signature {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-soc-item:not(:last-child) {
  margin-right: 8px;
}
.our-team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.our-team-soc-link:hover,
.our-team-soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.desinger {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.frontend {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.marketing {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.uidesigner {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background: var(--section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-head {
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-cont-soc {
  display: flex;
}
.footer-contakts-list :hover,
.footer-contakts-list :focus {
  color: #2196f3;
}
.footer-contakts-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer-contakts-list-title:not(:last-child) {
  margin-bottom: 10px;
}
.footer-contakts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contakts-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakts-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-soc {
  margin-top: -20px;
  margin-left: 70px;
}
.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
}
